@def-font-size: 14px;
@def-font-fam: sans-serif;


body {
	margin: 0;
	font-family: @def-font-fam;
	font-size: @def-font-size;
}

.x-nosel {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.x-box {
	box-sizing: border-box;
}

.x-app {
	left:0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.x-icon .fa {
	font-family: fontawesome;
	display: inline-block;
}

.x-text {
	cursor: default;
}

.x-app-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 8px;
	color: white;
	background-color: #00bcd4;
	min-height: min-content;
	min-height: -webkit-min-content;
	
	.x-text {
		color: #fff;
		font-size: 24px;
		display: inline-block;
		flex-grow: 1;
		padding: 8px;
	}

	.x-icon {
		width: 24px;
		font-size: 24px;
	}
}

.x-bottom-navigation
{
	min-height: min-content;
	min-height: -webkit-min-content;

    display: flex;
    justify-content: center;
    border-top: 1px solid #eeeeee;
    color: rgba(0, 0, 0, 0.541176);
    padding-top: 8px;

    .x-bottom-navigation-item {
    	padding-top: 6px;
		padding-bottom: 10px;
		padding-left: 12px;
		padding-right: 12px;
		min-width: 80px;
		max-width: 168px;
		text-align: center;
		cursor: pointer;
    
		&.x-hover {
			color: #00bcd4;
		}		

		.x-icon {
	    	display: block;
	    	width: 100%;
	    	font-size: 24px;
	    }

	    .x-text {
	    	//font-size: 12px;
	    	padding-top: 2px;
	    }
	}
}

.x-grid {
	//font-size: 12px;
	
	.x-cell {
		box-sizing: border-box;
		cursor: default;
	}

	.x-header {
		display: flex;
		flex-direction: row;
		min-height: fit-content;
		min-height: -webkit-fit-content;
		border-bottom: 1px solid #9e9e9e;
		font-weight: bold;
		//box-shadow: 0 4px 8px rgba(0,0,0,0.1);
		//z-index: 1;
		
		.x-cell {
			padding: 12px 8px;
			cursor: default;
			white-space: nowrap;

			&.sortable {
				cursor: pointer;				
			}

			.x-sort {
				display: inline-block;
				margin-left: 4px;
				font-family: fontawesome;
				font-size: 9px;
			}

			.x-sort.asc:after {
				content: '\f106';
			}

			.x-sort.desc:after {
				content: '\f107';
			}
		}
	}
	
	.x-row {
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #e0e0e0;
		align-content: center;

		&.x-odd {
			background-color: #fafafa;
		}

		&:hover {
			background-color: #e0f7fa;	
		}

		.x-cell {
			padding: 4px 8px;
			display: flex;
			align-items: center;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}


.x-window {
	background-color: #fff;
	
	z-index: 20;
    //border: 1px solid black;	
	//box-shadow: 4px 4px 8px rgba(0,0,0,0.1);

    .x-header {
    	background-color: #00838F;
    	color: #fff;
    	padding: 8px 8px;
    }
}

.x-modal-mask {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);

	display: flex;
	align-items: center;   
    justify-content: center;

    .x-header {
    	display: flex;
    	flex-direction: row;
    	align-items: center;

    	.x-text {
    		flex-grow: 1;
    	}
    	.x-icon {
    		font-size: 16px;
    	}
    }
}

.x-text-field
{
	.x-label {
		box-sizing: border-box;	
		padding: 4px 0 1px 0;
		border-bottom: 1px solid transparent;
		margin: 4px 0;
	}

	.x-label.x-vert {
		margin-bottom: 0;
		font-size: 80%;
		color: #999999;
	}

	input {
		box-sizing: border-box;
      	border: none;
		border-bottom: 1px solid #bdbdbd;
		outline: none;
      	background-color: transparent;
      	margin: 4px 0;
      	padding: 4px 0 1px 0;
      	font-size: @def-font-size;
	}

	input.x-vert {
		margin-top: 0;
	}

	&.required {
		.x-label {
			font-weight: bold;
		}
	}

	&.error {
		.x-label {
			color: #bf360c;
		}

		input {
			border-bottom: 1px solid #bf360c;	
		}
	}

	// focus win on error
	&.focus {
		.x-label {
			color: #0097a7;
		}

		input {
			border-bottom: 1px solid #00bcd4;
		}
	}
}

.x-check-box {

	padding: 4px 0;

	.x-icon{
		font-size: 14px;
		color: #424242;
	}

	&.x-checked .x-icon{
		color: #00bcd4;
	}
}

.x-button {
	box-sizing: border-box;
	border: 1px solid #eeeeee;
	padding: 4px;

	&.x-default {
		background-color: #0097A7;
		font-weight: bold;
		color: #ffffff;
	}

	&:hover {
		background-color: #00bcd4;
		color: #ffffff;
	}

	&:focus {
		//box-shadow: 0 0 4px #006064;
		border: 1px solid #00bcd4;
		outline: none;
	}
}

.x-alert {
	border-left: 8px solid #bf360c;
	.x-icon {
		color: #bf360c;
	}
	.x-button {
		background-color: #bf360c;
		color: white;
	}
}

.x-info {
	border-left: 8px solid #00BCD4;
	.x-icon {
		color: #4caf50;
	}
}

.x-menu {
	border: 1px solid #006064;
	background-color: #ffffff;
	//box-shadow: 4px 4px 16px rgba(0,0,0,0.5);
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
	z-index: 100;
	transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

	.x-menu-separator {
		box-sizing: border-box;
		height: 4px;
		border-bottom: 1px solid rgba(0, 96, 100, 0.11);
		margin-bottom: 3px;
	    margin-right: 4px;
	    margin-left: 4px;
	}
	
	.x-menu-item {
		padding: 4px 8px 4px 4px;
		height: 22px;

		&:hover {
			background-color: #00bcd4;
			color: #ffffff;
		}

		.x-text {
			margin-left: 8px;
			white-space: nowrap;
		}

		
	}
}

.x-sizer {
	&.right {
		border-right: 1px solid #eeeeee;

		&:hover {
			background-color: #eeeeee;
		}

		&.sizing {
			background-color: #00838f;
		}
	}
}

.z-depth-1 {
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.z-depth-2 {
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.z-depth-3 {
	box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
}

.z-depth-4 {
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
}

.z-depth-5 {
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
}



